{
    "plugins": [
      "@babel/plugin-syntax-jsx",
      "@babel/plugin-proposal-object-rest-spread",
      "@babel/plugin-proposal-class-properties",
      ["@babel/plugin-transform-react-jsx", { "pragma": "dom" }]
    ]
  }